<%= current_user.email %><br>


<h4>Birthday: <%=@profile.birthday %></h2><br>
<%=@profile.hometown %><br>
<%=@profile.college %><br>

<%=link_to "edit profile", edit_user_profile_path(current_user) %>
<%=link_to "back", newsfeed_path(current_user) %>