
<div class="container">
<nav class="header">
	<div class="row top-header-bar">
		
		<div class="col-xs-2 "></div>
		
		<div class="col-xs-3 title-text"><%=image_tag("fb-1", size: "40x40")%></div>
		
		<div class="col-xs-4"><input type="text" class="form-control top-search-bar" aria-label="search" placeholder="search">
			
		</div>
		
		<div class="col-xs-2 top-bar-name">
			<%= image_tag avatar_url(current_user), :class => "avatar-logo", size: "30x30"%>
			<h4 class="top-nav-name"><%=current_user.first_name%></h4>
		<div class="friend-icon">
			<span class="glyphicon glyphicon-user"></span>
				<%= current_user.pending.count  %>	<div class="sign-out-nav">
				<%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
	
	</div>
		</div>

	
</nav>
</div>
	
	
	<div class="col-xs-2 side-links">
			<nav>
	<ul class="row links-bar nav nav-pills nav-stacked">
		<li class="pic-link"><%= image_tag avatar_url(current_user), :class => "avatar-logo", disable: true %></li>
		<li role="presentation" class="timeline-link text-center"><%=link_to "Timeline", newsfeed_path(current_user) %></li>
		<li class="user-link text-center"><%=link_to "Users", disable: true %></li>
		<li class="about-link text-center"><%=link_to "About", user_profile_path(current_user) %></li>
		<li class="photo-link text-center"><%=link_to "Photos" %></li>
		<li class="friend-link text-center"><%=link_to "Friends" %></li>
		<li class="profile-link text-center"><%=link_to "Edit profile", edit_user_profile_path(current_user)%></li>

	
</div>
</ul>
</nav>
</div>




<% if current_user.photos.first.nil? %>
	<div class="col-xs-8 main-background-logo"><%image_tag("la.jpg", size: "1120x430", alt: "background-pic", :id=>"backgound-pic") %>
		
	</div>

<%else%>
<div class="col-xs-8 main-background-logo"><%= image_tag(current_user.photos.first.image.url, size: "1120x430", :id=> "backgound-pic")%></div>
</div>
<%end%>

</div>
</nav>
</div>



	<div class="row">
		<div class="col-xs-8 col-xs-offset-3 profile-wall">

<table>
<td>
	<div>
<tr>Birthday: <%=@profile.birthday %></tr>
</div>
<div>
<tr>Homwtown: <%=@profile.hometown.length%></tr>
</div>
<div>
<tr>College: <%=@profile.college %></tr>
</div>


</td>
</table>
</div>
</div>